In [1]:
import pandas as pd
import pandas as pd
 #importing sql libraries:
from sqlalchemy import create_engine

In [2]:
df = pd.read_excel('online_retail_II.xlsx')

# 1. Python (Data Cleaning & Preprocessing)

In [4]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12.0,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12.0,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12.0,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48.0,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24.0,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [5]:
df.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
525441,538171,22271,FELTCRAFT DOLL ROSIE,2.0,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525442,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1.0,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525443,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1.0,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525444,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2.0,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525445,538171,21931,JUMBO STORAGE BAG SUKI,2.0,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [7]:
df.shape

(525446, 8)

In [11]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [12]:
df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,525301.000000,525301,525301.000000,417534.000000
mean,10.341402,2010-06-28 10:38:53.134108160,4.686635,15360.645478
min,-9600.000000,2009-12-01 07:45:00,-53594.360000,12346.000000
25%,1.000000,2010-03-21 11:57:00,1.250000,13983.000000
50%,3.000000,2010-07-06 09:51:00,2.100000,15311.000000
75%,10.000000,2010-10-15 12:35:00,4.210000,16799.000000
max,19152.000000,2010-12-09 20:01:00,25111.090000,18287.000000
std,107.434040,NaN,146.144731,1680.811316

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525446 entries, 0 to 525445
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525301 non-null  object
 1   StockCode    525301 non-null  object
 2   Description  522377 non-null  object
 3   Quantity     525301 non-null  float64
 4   InvoiceDate  525301 non-null  datetime64[ns]
 5   Price        525301 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525301 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 32.1+ MB

In [14]:
df.isnull().sum()

Invoice           145
StockCode         145
Description      3069
Quantity          145
InvoiceDate       145
Price             145
Customer ID    107912
Country           145
dtype: int64

In [19]:
df.dropna(inplace =True)
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [16]:
df.duplicated().sum()

np.int64(7008)

In [17]:
df.drop_duplicates(inplace = True)
df.duplicated().sum()

np.int64(0)

In [21]:
df.dtypes
df['Description']=df['Description'].astype('string')
df.dtypes

Invoice                object
StockCode              object
Description    string[python]
Quantity              float64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [23]:
df.dtypes
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df.dtypes

Invoice                object
StockCode              object
Description    string[python]
Quantity              float64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [28]:
df['Year']= df['InvoiceDate'].dt.year
df['Month']= df['InvoiceDate'].dt.month
df['Day']= df['InvoiceDate'].dt.day
print(df[['InvoiceDate','Year' , 'Month' , 'Day']].head())

          InvoiceDate  Year  Month  Day
0 2009-12-01 07:45:00  2009     12    1
1 2009-12-01 07:45:00  2009     12    1
2 2009-12-01 07:45:00  2009     12    1
3 2009-12-01 07:45:00  2009     12    1
4 2009-12-01 07:45:00  2009     12    1

In [31]:
df['TotalPrice'] = df['Quantity']*df['Price']
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Year,Month,Day,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12.0,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009,12,1,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12.0,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009,12,1,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12.0,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009,12,1,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48.0,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009,12,1,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24.0,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009,12,1,30.0

In [30]:
df.dtypes
df['Customer ID'] = df['Customer ID'].astype('object')
df.dtypes

Invoice                object
StockCode              object
Description    string[python]
Quantity              float64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID            object
Country                object
Year                    int32
Month                   int32
Day                     int32
TotalPrice            float64
dtype: object

In [32]:
df.columns = df.columns.str.lower()
df.columns

Index(['invoice', 'stockcode', 'description', 'quantity', 'invoicedate',
       'price', 'customer id', 'country', 'year', 'month', 'day',
       'totalprice'],
      dtype='object')

# 2 Connecting To Postgresql

In [34]:
engine = create_engine('postgresql+psycopg2://postgres:Dev1819@localhost:5432/retails_db')
try:
    engine
    print("connection successfull to PSQL")
except:
    print("unable to connect to psql")

connection successfull to PSQL

In [40]:
df.to_sql(name ='retails',con = engine ,if_exists = 'append', index = False)

763

In [39]:

df.to_excel('cleaned_online_retail.xlsx', index=False)